PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
PyOpenGL==3.1.7
vtk==9.3.0
ifcopenshell==0.7.10
onnxruntime==1.17.0
opencv-python==4.9.0.80
pymavlink==2.4.41
SQLAlchemy==2.0.25
reportlab==4.1.0
ezdxf==1.4.4
matplotlib==3.8.2
shapely==2.0.2
scikit-learn==1.4.0
numpy==1.26.3
open3d==0.18.0
networkx==3.2.1
Pillow==10.2.0
pyinstaller==6.3.0
